.left-image-container img {
  max-width: 70%; /* Adjust logo size */
}

.slider-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
}

.athlete-details {
  text-align: left;
}

.slider-controls button {
  border: none;
  cursor: pointer;
}
